* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --text-primary-color: #C0C4CE;
    --text-secundary-color: #E2E4E9 ;
    --text-terciary-color: #878EA1;
    --text-emphasis-color: #E3646E;
    --bg-main-color: #292C34;
    --bg-aside-color: #0D0E11;
}

body {
    color: var(--text-primary-color);
    background-color: var(--bg-main-color);
}