* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --text-primary-color: #C0C4CE;
    --text-secundary-color: #E2E4E9 ;
    --text-terciary-color: #878EA1;
    --text-emphasis-color: #E3646E;
    --bg-main-color: #16181D;
    --bg-span-color: #292C34;
    --bg-aside-color: #0D0E11;

    --font-family-text: 'Maven Pro', serif, monospace;
    --font-family-titles: 'Asap', sans-serif;
    --font-family-emphasis: 'Inconsolata', serif, monospace;
    --h1: 700 56px/120% var(--font-family-titles);
    --h2: 700 24px/120% var(--font-family-titles);;
    --h3: 700 16px/120% var(--font-family-titles);;
    --text-lg: 400 20px/120% var(--font-family-emphasis);
    --text: 400 16px/140% var(--font-family-text);
    --text-sm: 400 14px/140% var(--font-family-text);
}

body {
    font: var(--text);
    color: var(--text-primary-color);
    background-color: var(--bg-main-color);
}

h1, h2, h3 {
    font: inherit;
}

a {
    text-decoration: none;
    font: var(--text);
    color: var(--text-primary-color);
}

hr {
    margin-top: 57px;
    border-color: var(--bg-span-color);
}