header {

    background-image: url(../Background_Intro.png);
    background-size: cover;

    div {
        width: 60%;
        margin: auto;
        margin-top: 94px;
        margin-bottom: 80px;
    }

    figure img {
        width: 96px;
        display: block;
        margin: auto;
        border-radius: 50px;
        box-sizing: border-box;
        border: solid 3px rgb(0, 182, 195);
        padding: 3px;
    }


    p {
        text-align: center;
        font: var(--text-lg);
        margin-top: 54px;
        margin-bottom: 10px;
    }

    h1{
        color: var(--text-secundary-color);
        text-align: center;
        margin-bottom: 20px;
    }

    h1 + p{
        color: var(--text-terciary-color);
    }

    nav{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 94px;

        span {
            display: flex;
            align-items: center;
            gap: 8px;
            padding:  5px 20px;
            border-radius: 50px;
            background-color: var(--bg-span-color);
        }
    }

    div a{
        display: flex;
        justify-content: center;
    }

    #hidden {
        display: none;
    }

    nav + div:hover #hidden{
        display: flex;
        gap: 32px;
        border: solid var(--bg-span-color);
        border-radius: 10px;
        margin: auto;
        width: 50%;
        padding: 5px;
    }
}